:root {
    --fcolor: #2d003d;
    --first-color: #615ee1;
    --second-color: #f9d85f;
    --third-color:#ec9acf;
    --fourth-color:#545454;
    --fifth-color:#e0e0e0;
}

html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.material-icons-outlined {
    display: none;
}

.myDesk{
    display: flex;
}



.lateralMenuClose{
    /* position: absolute; */
    /* height: 100%; */
    width: 5vw;
    background-color: var(--fcolor);
    background-color: var(--fourth-color);
    background-color: var(--third-color);
    background-color: var(--second-color);
    background-color: var(--first-color);
    /* background-color: var(--fifth-color); */
    display: flex;
    flex-direction: column;
    transition: .5s;

}

.lateralMenuOpen{
    /* position: absolute; */
    height: 100vh;
    width: 17vw;
    background-color: var(--fcolor);
    background-color: var(--fourth-color);
    display: flex;
    flex-direction: column;
    /* z-index: 20; */
    transition: .3s;
}

.lateralMenuClose .menuLateralInfo{
    visibility: visible;
}

.lateralMenuClose .linkMenu {
    visibility: hidden;
}


.lateralMenuOpen .menuLateralInfo{
    /* opacity: 0; */
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 7vh; */
    animation-name: showMenu;
    animation-duration: 1.5s;
    animation-fill-mode: forwards ;

}

/* @keyframes showMenu {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
} */


.userPicName{
    display: flex;
    height: 10vh;
    /* justify-content: space-around; */
    align-items: center;
    /* width: 100%; */
    /* background-color: var(--fifth-color); */
    margin-bottom: 5vh;
}


 .userPic{
    height: 50px;
    min-width: 50px;
    width: 50px;
    background-size: cover;
    /* margin-bottom: 3vh; */
    border-radius: 5px;
    border-radius: 50%;
    margin-left: .5vw;

}


.lateralMenuClose .userCompleteName{
    color: white;
    visibility: hidden;
    /* display: none; */
    margin-left: 1vw;
    font-size: 1.2rem;

    opacity: 0;
}

.lateralMenuOpen .userCompleteName{
    display: flex;
    font-size: 1.2rem;
    color: white;
    margin-left: 1vw;
    opacity: 1;
    transition: 1s;
}

.link {
    color: #ffffff88;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    transition: .5s;
}

.link:hover {
    color: #ffffff;
    transition: .3s;


}

.link:hover .homeIconMenu {
    color: #ffffff;
    transition: .3s;

}

.link:hover{
    background-color: #ffffff11;
    transition: .5s;
}



.link .linkMenu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 2vw;
    /* flex-grow: 1;     */
    height: 9vh;
    font-size: 1rem;
   
}

.lateralMenuClose .linkMenu{
    opacity: 0;
}

.lateralMenuOpen .linkMenu{
    opacity: 1;
    /* transition: 1.5s; */
}


 .logOut {
    margin-top: 55vh;
    cursor: pointer;
}


/* .myDesk .homeIconMenu{ */
.homeIconMenu{
    display: flex;
    justify-content: center;
    color: #ffffff88;
    font-size: 2.5rem;
    margin-left: .8vw;
    /* width: 4vw; */
}

.hamburguerIcon{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 2.2rem;
    padding-top: 1vh;
    font-weight: bold;
    width: 5vw;
    height: 10vh;
    color: white;
    transition: .4s;
    cursor: pointer;
    
}


.hamburguerIcon:hover{
    background-color: #ffffff22;
    transition: .4s;
}


.mydeskContainer{
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    display: flex;
}

.headerMyDesk{
    background-color: #cccccc;
    background-color: var(--second-color);
    background-color: var(--first-color);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMyDesk h2{
    /* color: var(--fourth-color); */
    color: white;
    font-size: 2.3rem;
}

.boardsContainerMyDesk{
    display: flex;
}



.nuevoTableroMas{
    display: block;
    /* color: var(--fcolor); */
    color: white;
    font-size: 1.2rem;
}

.newBoardButton{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    width: 11vw;
    height: 7vh;

    /* background-color: white; */
    margin: 2vh 1vw;
    /* color: #00000088; */
    color: white;
    cursor: pointer;
    border: solid 2px var(--third-color);
    border-radius: 10px;
    transition: .5s;

}

.newBoardButton:hover{
    background-color: white;
    color: black;
    transition: .5s;
}



.newBoardModal{
    position: absolute;
    top: 0;
    flex-grow: 1;
    width: 95vw;
    height: 100%;
    background-color: #000000cc;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.newBoard{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 32vw;
    height: 45vh;
    background-color: var(--first-color);
    padding: 3vh 0;
    /* border: solid 1px black; */
}

.newBoard input {
    padding: 1vh 1vw;
    width: 85%;
    border: none;
    background-color: #eeeeee;
    
}

.newBoard textarea {
    padding: 1vh 1vw;
    width: 85%;
    height: 30%;
    resize: none;
    border: none;
    background-color: #eeeeee;
}

.newBoard button {
    width: 50%;
    height: 15%;
    border: none;
    background-color: var(--fourth-color);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.newBoard button:hover {
    background-color: var(--second-color);
}

.closeNewBoardModal{
    position: absolute;
    top: 0px;
    right: 0;
    cursor: pointer;
    font-size: 2rem;
    /* z-index: 10; */
    color: var(--fourth-color);

}

.closeNewBoardModal:hover{
    color: var(--second-color);
}

.boardsContainerMyDesk * {
    text-decoration: none;
}

.boardMyDesk{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 20vh;
    /* border: solid 1px black; */
    margin: 1vh 0vw 1vh .5vw;
    background-color: var(--first-color);
    /* border: solid 1px black; */
    border: solid 1px white;
    color: white;
    font-size: 1.rem;
}


.boardContainer{
    display: flex;
    min-height: 100vh;
    /* flex-direction: row; */
}

.boardHeader{
    background-color: var(--first-color);
    width: 100%;
}

.boardTasks{
    width: 100%;
}